.clients-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  // align-items: center;
  justify-content: space-between;
}

// .carousel-narrow {
//   height: 50%;
// }

.clients-footer {
  width: 100%;
  height: 30%;
  background-size: cover;
    // // background-repeat: no-repeat;
    background-position: top center;
}


.carousel-control-prev-icon {
  background-image: url("https://i.ibb.co/NpNBHC3/CPPC-ARROW-1.png") !important;
  height: 80px !important;
  width: 80px !important;
}

.carousel-control-next-icon {
  background-image: url("https://i.ibb.co/tcpP7SM/CPPC-ARROW-2.png") !important;
  height: 80px !important;
  width: 80px !important;
}

.client-card {
    justify-content: center !important;
  a {
    display: flex;
    align-items: center;
    justify-content: center !important;
  }
}
