// Specific CSS for your home-page

.home-container {
  width: 100vw;
  height: 100vh;
}
.home-banner {
  width: 100vw;
  height: 100vh;
  // background-size: cover;
  // // background-repeat: no-repeat;
  // background-position: top center;
  // display: flex;
  // justify-content: center;
  // align-items: center;
  // flex-direction: column;
}

.home-carousel {
  height: 100%;
}

.home-slide {
  width: 100vw;
  height: 100vh;
  background-size: cover;
  // background-repeat: no-repeat;
  background-position: top center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.home-logo {
  // height: 50%;
  height: 500px;
}

.home-title-container {
  width: 40%;
  text-align: center;
  h3 {
    color: white;
    font-family: 'Sofia Sans',
      'Nunito Sans' !important;
    font-size: 24px;
  }
}

.section-title {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 20%;

  h1 {
    font-family: 'Futura',
      'Questrial',
      sans-serif;
    color: $coral;
    font-size: 80px;
    font-weight: bold;
    margin-left: 48px;
  }
}


.mandatory-scroll-snapping {
  // scroll-snap-type: y mandatory;
  scroll-snap-type: y mandatory;
  height: 100vh;
  overflow-y: scroll;
  // overflow: hidden;
}



.scroll-page {
  scroll-snap-align: start;
  height: 100vh;
}
