.our-story-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

// .our-story-title {
//   display: flex;
//   align-items: center;
//   justify-content: flex-start;
//   align-items: center;
//   width: 100%;
//   height: 20%;
//   h1 {
//     font-family: 'Futura',
//       'Questrial',
//       sans-serif;
//     color: $coral;
//     font-size: 60px;
//     font-weight: bold;
//     margin-left: 48px;
//   }
// }

.our-story-body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 83%;
}

.our-story-img-wrapper {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: flex-end;

}

.our-story-photo {
  // height: 100%;
  // height: auto;
  width: 90%;
}

.our-story-text-wrapper {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}


.our-story-text {
  // margin: 0px 48px;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: justify;
  p {
    font-family: 'Sofia Sans' !important;
    font-size: 0.8em;
    margin: 0px;
  }
}

#desktop-our-story-section{
  display: block;
}

#mobile-our-story-section {
  display: none;
}



@media screen and (max-width: $phone) {
  #desktop-our-story-section {
    display: none;
  }

  #mobile-our-story-section {
    display: block;
  }

  .our-story-title {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    width: 100%;
    height: 35%;
    background-size: cover;
    // background-repeat: no-repeat;
    background-position: top center;

    h1 {
      font-family: 'Futura',
        'Questrial',
        sans-serif;
      color: $coral;
      font-size: 30px;
      font-weight: bold;
      margin-left: 48px;
    }
  }

  .mobile-our-story-text-wrapper {
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

  }

  .mobile-our-story-text {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;

    p {
      font-family: 'Sofia Sans' !important;
      font-size: 0.5em;
      margin: 10px 0px;
    }
  }

}

@media screen and (max-width: $phone) {
  #desktop-our-story-section {
    display: none;
  }

  #mobile-our-story-section {
    display: block;
  }

  .our-story-title {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    height: 35%;
    background-size: cover;
    // background-repeat: no-repeat;
    background-position: top center;

    h1 {
      font-family: 'Futura',
        'Questrial',
        sans-serif;
      color: $coral;
      font-size: 30px;
      font-weight: bold;
      margin: 0px;
      margin-bottom: 16px;
    }
  }
  .mobile-our-story-body {
    height: 65%;
  }

  .mobile-our-story-text-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

  }

  .mobile-our-story-text {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;

    p {
      font-family: 'Sofia Sans' !important;
      font-size: 0.5em;
      margin: 10px 0px;
    }
  }

}

@media screen and (min-width: 376px) and (max-width: $phone-large) {
  #desktop-our-story-section {
    display: none;
  }

  #mobile-our-story-section {
    display: block;
  }

  .our-story-title {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    height: 40%;
    background-size: cover;
    // background-repeat: no-repeat;
    background-position: top center;

    h1 {
      font-family: 'Futura',
        'Questrial',
        sans-serif;
      color: $coral;
      font-size: 30px;
      font-weight: bold;
      margin: 0px;
      margin-bottom: 16px;
    }
  }

  .mobile-our-story-body {
    height: 60%;
  }

  .mobile-our-story-text-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

  }

  .mobile-our-story-text {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;

    p {
      font-family: 'Sofia Sans' !important;
      font-size: 0.5em;
      margin: 10px 0px;
    }
  }

}


@media screen and (min-width: 481px) and (max-width: $tablet) {
  #desktop-our-story-section {
    display: none;
  }

  #mobile-our-story-section {
    display: block;
  }

  .our-story-title {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    height: 50%;
    background-size: cover;
    // background-repeat: no-repeat;
    background-position: top center;

    h1 {
      font-family: 'Futura',
        'Questrial',
        sans-serif;
      color: $coral;
      font-size: 30px;
      font-weight: bold;
      margin: 0px;
      margin-bottom: 16px;
    }
  }

  .mobile-our-story-body {
    height: 50%;
  }

  .mobile-our-story-text-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

  }

  .mobile-our-story-text {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;

    p {
      font-family: 'Sofia Sans' !important;
      font-size: 0.5em;
      margin: 10px 0px;
    }
  }

}
