<!-- Button trigger modal -->
<div class="nav-container">
<button type="button" class="nav-btn top-0 end-0 " data-bs-toggle="modal" data-bs-target="#exampleModal">
          <img src="https://i.ibb.co/5FSN6yV/CPPC-MENU-ICON-HOMEPAGE-copy.png", class="nav-icon">
</button>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog nav-modal-dialog">
    <div class="modal-content nav-modal-content" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://i.ibb.co/qyFsg3c/CPPC-AKT-2.jpg);">
      <div class="modal-header">
        <%# <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1> %>
        <button type="button" class="nav-close-btn" data-bs-dismiss="modal" aria-label="Close">
          <img src="https://i.ibb.co/g34R0z4/CPPC-MENU-ICON-MENU-PAGE-copy.png", class="nav-icon">
        </button>
      </div>
      <div class="modal-body">
        <%# <ul class="tabs"> %>



          <%= link_to "Home", root_path %>
          <a href="#case-studies-section">
            <button type="button" class="btn-close-id" data-bs-dismiss="modal" aria-label="Close">
              Case Studies
            </button>
          </a>
          <a href="#sustainability-section">
            <button type="button" class="btn-close-id" data-bs-dismiss="modal" aria-label="Close">
              Sustainability
            </button>
          </a>
          <a href="#our-story-section">
            <button type="button" class="btn-close-id" data-bs-dismiss="modal" aria-label="Close">
              Our Story
            </button>
          </a>
          <a href="#news-section">
            <button type="button" class="btn-close-id" data-bs-dismiss="modal" aria-label="Close">
              News
            </button>
          </a>
          <a href="#clients-section">
            <button type="button" class="btn-close-id" data-bs-dismiss="modal" aria-label="Close">
              Clients
            </button>
          </a>
        <%# </ul> %>
      </div>

    </div>
  </div>
</div>
