<div class="case-container mandatory-scroll-snapping">
  <div class="case-page scroll-page">
    <div class="case-banner" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0)), url(https://i.ibb.co/KrnhYDD/AKT-6.jpg);">
      <h1>AKT</h1>
    </div>
    <div class="case-text">
      <div class="quotation quotation-left">
        <img src="https://i.ibb.co/N3J6yH0/CPPC-QUOTATION-MARK-LEFT.png", class="about-photo">
      </div>
      <p>Akt is a London based premium skincare label that creates intelligent deodorant formulations BORN TO PERFORM however active your lifestyle might be. CPPC has been integral in not only the development of the core packaging range, from the bold use of primary deep dyed colorplan paper stocks to the supply of their 100% aluminium tubes, their bespoke ecommerce packaging, their gifting range and also the development of new product lines as we speak.</p>
      <div class="quotation quotation-right">
        <img src="https://i.ibb.co/F8K1fM1/CPPC-QUOTATION-MARK-RIGHT.png", class="about-photo">
      </div>
    </div>
  </div>

  <div class="case-page scroll-page">
    <div class="case-halves">
      <div class="case-half-banner" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0)), url(https://i.ibb.co/KrnhYDD/AKT-6.jpg);">
        <h1>AKT</h1>
      </div>
      <div class="case-half-white">

        <div class="case-quote">
          <%# <p>“As a lean product development business, working with Alex and CPPC has been one of the best decisions we could have taken. His experience with everything from eco materials down to the detail of manufacturing processes has opened us to new product possibilities and elevated our existing brands far beyond what we thought was possible or affordable.”</p> %>
        </div>


        <div class="carousel-outer">
          <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner case-carousel-inner position-absolute top-50 start-50 translate-middle">
              <div class="carousel-item active">
                <div class="cards-wrapper">
                  <div class="case-carousel-photo">
                      <img src="https://i.ibb.co/BgVFcTg/CPPC-AKT-1.jpg" class="d-block w-100" alt="AKT">
                  </div>

                  <div class="case-carousel-photo">
                    <img src="https://i.ibb.co/kQn7z9Q/CPPC-AKT-2.jpg" class="d-block w-100" alt="AKT">
                  </div>

                  <div class="case-carousel-photo">
                      <img src="https://i.ibb.co/g7bFHc3/CPPC-AKT-3.jpg" class="d-block w-100" alt="AKT">
                  </div>

                </div>
              </div>
              <div class="carousel-item">
                <div class="cards-wrapper">
                  <div class="case-carousel-photo">
                      <img src="https://i.ibb.co/5Kt024b/CPPC-AKT-4.jpg" class="d-block w-100" alt="AKT">
                  </div>

                  <div class="case-carousel-photo">
                    <img src="https://i.ibb.co/dtnMzRj/CPPC-AKT-5.jpg" class="d-block w-100" alt="AKT">
                  </div>

                  <div class="case-carousel-photo">
                    <img src="https://i.ibb.co/7W9jg99/CPPC-AKT-6.jpg" class="d-block w-100" alt="AKT">
                  </div>
                </div>
              </div>

              <div class="carousel-item">
                <div class="cards-wrapper">
                  <div class="case-carousel-photo">
                     <img src="https://i.ibb.co/PZtGmJz/CPPC-AKT-8.jpg" class="d-block w-100" alt="AKT">
                  </div>

                  <div class="case-carousel-photo">
                      <img src="https://i.ibb.co/nj3try3/Untitled-design-8-copy.png" class="d-block w-100 vertical-shot" alt="AKT">
                  </div>
                  <%# <div class="case-carousel-photo">
                      <img src="https://i.ibb.co/nj3try3/Untitled-design-8-copy.png" class="d-block w-100 vertical-shot" alt="AKT">
                  </div> %>

                  <div class="case-carousel-photo">
                      <img src="https://i.ibb.co/qpSSGGF/CPPC-AKT-9.jpg" class="d-block w-100" alt="AKT">
                  </div>
                </div>
              </div>

              <%# <div class="carousel-item">
                <div class="cards-wrapper">
                  <div class="case-carousel-photo">
                      <img src="https://i.ibb.co/PhjNgZN/CPPC-AKT-7.jpg" class="d-block w-100" alt="AKT">
                  </div>


                </div>
              </div> %>

            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>

        <div class="case-quote">
          <p>“As a lean product development business, working with Alex and CPPC has been one of the best decisions we could have taken. His experience with everything from eco materials down to the detail of manufacturing processes has opened us to new product possibilities and elevated our existing brands far beyond what we thought was possible or affordable.”</p>
        </div>

      </div>
    </div>



  </div>
</div>
