<div class="valentine-container desktop-valentine">
  <div class="valentine-banner oto-banner" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.0)), url(https://i.ibb.co/R9010b2/CPPC-CHRISTMAS-CPPC-AKT-LOWRES-7.jpg);">
    <h1>Christmas is coming</h1>
  </div>
  <div class="valentine-body blog-column">
    <div class="valentine-text valentine-text-column">
      <p>Which is why, at CPPC towers, we are thrilled to craft super stylish and sustainable packaging for a number of our luxury clients. Smouldering and strong, blended to fill your home full of seasonal citrus scents, light AKT's signature SC.01 Orange Grove candle for instant festive feels. CPPC produced the amber-tinted and screen-printed glassware featuring AKT's chic branding. The candle is presented in a box made from deep-dyed colorplan card stocks by paper legends GF Smith, who have been obsessed with the simple beauty and limitless possibilities of paper for 135 years. The colorplan candle packaging is black gloss foiled and then finished with a black microflute liner to protect the candle and ensure you are gifting or receiving perfection.</p>
      <br>
      <p>We were thrilled to be tasked with sourcing the festive delivery, (not the Santa side of things) of two essential Christmas delights from our fab clients OTO in the form of these miniature dropper bottles. The challenge was to take their best-selling products and shrink them down for transformation to Christmas baubles, ready to hang on the tree. We maintained all the premium qualities of the original products by partnering
        with www.croxsons.com to produce a highly detailed, printed and foiled glass dropper bottle, in miniature, with a matt finish and matt pipette. The CBD infused Power Drops and Sleep Drops come in black or white sprayed bottles and the metallic hot stamp gives a premium look. We think they make the perfect Christmas pair. Power Drops for the energy needed to get through the festivities and Sleep Drops to gift the deep sleep needed to re- energise, get up and do it all over again.</p>
      <%# <br> %>
      <%# <p>We love working with Roam at CPPC, their innovative products and their gifts that keep on giving, so this festive makeover was our kind of brief. The task was to unitise their functional ecommerce packaging with 350gsm https://gfsmith.com colorplan sleeves in a variety of festive-themed colours. The seasonal greens, creams and golds, accented with red ribbons, were imprinted with full coverage glossy gold holiday messaging. The result is very Christmasy, but absolutely in Roam’s own signature feel, so their intimate and very stylish gifts are presented in premium seasonal packaging. Hit us up if you have any items that need an adapt for a special event or occasion. Our best ideas are not just for Christmas.</p> %>
    </div>

    <div class="valentine-carousel valentine-carousel-column">
      <div id="valentine-carousel" class="carousel slide">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="https://i.ibb.co/FDpdgkj/CPPC-CHRISTMAS-CPPC-AKT-LOWRES-3.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="https://i.ibb.co/zr5mBq9/CPPC-CHRISTMAS-CPPC-AKT-LOWRES-4.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="https://i.ibb.co/R9010b2/CPPC-CHRISTMAS-CPPC-AKT-LOWRES-7.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="https://i.ibb.co/WGpGrVJ/CPPC-CHRISTMAS-CPPC-OTO-LOWRES-9.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="https://i.ibb.co/Bqg9S7K/CPPC-CHRISTMAS-CPPC-OTO-LOWRES-10.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="https://i.ibb.co/GPVyqTj/CPPC-CHRISTMAS-CPPC-ROAM-LOWRES-1.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="https://i.ibb.co/g406KXp/CPPC-CHRISTMAS-CPPC-ROAM-LOWRES-3.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="https://i.ibb.co/bXMDVBr/CPPC-CHRISTMAS-CPPC-ROAM-LOWRES-6.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="https://i.ibb.co/88Yd7xp/CPPC-CHRISTMAS-CPPC-ROAM-LOWRES-12.jpg" class="d-block w-100" alt="...">
          </div>

        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#valentine-carousel" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#valentine-carousel" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>

    <div class="valentine-text valentine-text-column">
      <p>We love working with Roam at CPPC, their innovative products and their gifts that keep on giving, so this festive makeover was our kind of brief. The task was to unitise their functional ecommerce packaging with 350gsm <a href="https://gfsmith.com">https://gfsmith.com</a> colorplan sleeves in a variety of festive-themed colours. The seasonal greens, creams and golds, accented with red ribbons, were imprinted with full coverage glossy gold holiday messaging. The result is very Christmasy, but absolutely in Roam’s own signature feel, so their intimate and very stylish gifts are presented in premium seasonal packaging. Hit us up if you have any items that need an adapt for a special event or occasion. Our best ideas are not just for Christmas.</p>
    </div>

  </div>
  <div class="more-news">
    <h6>More News...</h6>
    <div class="more-news-list">
      <div class="more-news-card">
        <a href="https://www.exploreroam.com/shop/for-gifting">
          <img src="https://i.ibb.co/9GVTwgd/Blog-entry-1.jpg" alt="...">
          <p>PACKAGING INNOVATIONS 2023</p>
        </a>
      </div>
      <div class="more-news-card">
        <a href="https://www.exploreroam.com/shop/for-gifting">
          <img src="https://i.ibb.co/WzHtbbb/Blog-entry-3.jpg" alt="...">
          <p>CPPC X KARIWALA</p>
        </a>
      </div>
      <div class="more-news-card">
        <a href="https://www.exploreroam.com/shop/for-gifting">
          <img src="https://i.ibb.co/prZ6DN7/Blog-entry-4.jpg" alt="...">
          <p>CHRISTMAS IS COMING</p>
        </a>
      </div>
    </div>
  </div>
</div>


<div class="mobile-valentine-container mobile-valentine">
  <div class="mobile-valentine-banner" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.0)), url(https://i.ibb.co/R9010b2/CPPC-CHRISTMAS-CPPC-AKT-LOWRES-7.jpg);">
    <h1>Christmas is coming</h1>
  </div>
  <div class="mobile-valentine-body">
    <div class="mobile-valentine-text">
      <img src="https://i.ibb.co/N3J6yH0/CPPC-QUOTATION-MARK-LEFT.png", class="about-photo mobile-quote-img mobile-quote-left">
      <p>Which is why, at CPPC towers, we are thrilled to craft super stylish and sustainable packaging for a number of our luxury clients. Smouldering and strong, blended to fill your home full of seasonal citrus scents, light AKT's signature SC.01 Orange Grove candle for instant festive feels. CPPC produced the amber-tinted and screen-printed glassware featuring AKT's chic branding. The candle is presented in a box made from deep-dyed colorplan card stocks by paper legends GF Smith, who have been obsessed with the simple beauty and limitless possibilities of paper for 135 years. The colorplan candle packaging is black gloss foiled and then finished with a black microflute liner to protect the candle and ensure you are gifting or receiving perfection.</p>
      <img src="https://i.ibb.co/F8K1fM1/CPPC-QUOTATION-MARK-RIGHT.png", class="about-photo mobile-quote-img mobile-quote-right">
    </div>

    <div class="mobile-valentine-text">
      <img src="https://i.ibb.co/N3J6yH0/CPPC-QUOTATION-MARK-LEFT.png", class="about-photo mobile-quote-img mobile-quote-left">
      <p>We were thrilled to be tasked with sourcing the festive delivery, (not the Santa side of things) of two essential Christmas delights from our fab clients OTO in the form of these miniature dropper bottles. The challenge was to take their best-selling products and shrink them down for transformation to Christmas baubles, ready to hang on the tree. We maintained all the premium qualities of the original products by partnering
      with www.croxsons.com to produce a highly detailed, printed and foiled glass dropper bottle, in miniature, with a matt finish and matt pipette. The CBD infused Power Drops and Sleep Drops come in black or white sprayed bottles and the metallic hot stamp gives a premium look. We think they make the perfect Christmas pair. Power Drops for the energy needed to get through the festivities and Sleep Drops to gift the deep sleep needed to re- energise, get up and do it all over again.</p>
      <img src="https://i.ibb.co/F8K1fM1/CPPC-QUOTATION-MARK-RIGHT.png", class="about-photo mobile-quote-img mobile-quote-right">
    </div>

    <div class="mobile-valentine-carousel">
      <div id="mobile-valentine-carousel" class="carousel slide">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="https://i.ibb.co/FDpdgkj/CPPC-CHRISTMAS-CPPC-AKT-LOWRES-3.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="https://i.ibb.co/zr5mBq9/CPPC-CHRISTMAS-CPPC-AKT-LOWRES-4.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="https://i.ibb.co/R9010b2/CPPC-CHRISTMAS-CPPC-AKT-LOWRES-7.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="https://i.ibb.co/WGpGrVJ/CPPC-CHRISTMAS-CPPC-OTO-LOWRES-9.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="https://i.ibb.co/Bqg9S7K/CPPC-CHRISTMAS-CPPC-OTO-LOWRES-10.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="https://i.ibb.co/GPVyqTj/CPPC-CHRISTMAS-CPPC-ROAM-LOWRES-1.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="https://i.ibb.co/g406KXp/CPPC-CHRISTMAS-CPPC-ROAM-LOWRES-3.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="https://i.ibb.co/bXMDVBr/CPPC-CHRISTMAS-CPPC-ROAM-LOWRES-6.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="https://i.ibb.co/88Yd7xp/CPPC-CHRISTMAS-CPPC-ROAM-LOWRES-12.jpg" class="d-block w-100" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#mobile-valentine-carousel" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#mobile-valentine-carousel" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>




    <div class="mobile-valentine-text">
      <img src="https://i.ibb.co/N3J6yH0/CPPC-QUOTATION-MARK-LEFT.png", class="about-photo mobile-quote-img mobile-quote-left">
      <p>We love working with Roam at CPPC, their innovative products and their gifts that keep on giving, so this festive makeover was our kind of brief. The task was to unitise their functional ecommerce packaging with 350gsm <a href="https://gfsmith.com">https://gfsmith.com</a> colorplan sleeves in a variety of festive-themed colours. The seasonal greens, creams and golds, accented with red ribbons, were imprinted with full coverage glossy gold holiday messaging. The result is very Christmasy, but absolutely in Roam’s own signature feel, so their intimate and very stylish gifts are presented in premium seasonal packaging. Hit us up if you have any items that need an adapt for a special event or occasion. Our best ideas are not just for Christmas.</p>
      <img src="https://i.ibb.co/F8K1fM1/CPPC-QUOTATION-MARK-RIGHT.png", class="about-photo mobile-quote-img mobile-quote-right">
    </div>

  </div>

  <div class="mobile-more-news">
    <h6>More News...</h6>
    <div class="mobile-more-news-list">
      <div class="mobile-more-news-card">
        <a href="https://www.exploreroam.com/shop/for-gifting">
          <img src="https://i.ibb.co/9GVTwgd/Blog-entry-1.jpg" alt="...">
          <p>PACKAGING INNOVATIONS 2023</p>
        </a>
      </div>
      <div class="mobile-more-news-card">
        <a href="https://www.exploreroam.com/shop/for-gifting">
          <img src="https://i.ibb.co/WzHtbbb/Blog-entry-3.jpg" alt="...">
          <p>CPPC X KARIWALA</p>
        </a>
      </div>
      <div class="mobile-more-news-card">
        <a href="https://www.exploreroam.com/shop/for-gifting">
          <img src="https://i.ibb.co/prZ6DN7/Blog-entry-4.jpg" alt="...">
          <p>CHRISTMAS IS COMING</p>
        </a>
      </div>
    </div>
  </div>
</div>
