<div class="valentine-container desktop-valentine">
  <div class="valentine-banner" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.0)), url(https://i.ibb.co/0CM5cbG/CPPC-ROAM-5.jpg);">
    <h1>Happy Valentine's Day</h1>
  </div>
  <div class="valentine-body">
    <div class="valentine-text">
      <p>Happy Valentine’s Day Y’all. Our current crush is Roam and their cheeky Valentine’s range. The All Night Long Kit is a personal fave and there’s also The Couple’s Kit, The Cupid Kit and The Roamance Kit. Behind the quirky names the brand has a serious sentiment, and that is to challenge stigmas around sex providing a range that supports what feels natural; to enable exploration with comfort and confidence. We are proud of our role in helping realise these creative gift sets, which feature gold foiled sleeves in GF Colorplan. Societal attitudes towards sex are changing, evidenced by the fact that mentions of “sexual wellness” grew 600% on Twitter between 2018 and 2021, and in 2021 the global sexual wellness market was valued at $80bn. One category report predicts it will rise to $120bn in 2030.</p>
      <br>
      <p>Long Live Roamance and Long Live Roam. We are thrilled to be working with this disruptor brand with its mission to reduce stigmas around sex, and to be part of the project to challenge stereotypes around sexual wellness by crafting stylish gift sets you’d be proud to be seen buying and giving.</p>
      <a href="https://www.exploreroam.com/shop/for-gifting">Explore Roam</a>
    </div>
    <div class="valentine-carousel">



      <div id="valentine-carousel" class="carousel slide">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="https://i.ibb.co/QCGNGdm/CPPC-ROAM-4.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="https://i.ibb.co/G7GXcJW/CPPC-ROAM-5.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="https://i.ibb.co/KFTvSGV/CPPC-ROAM-7.jpg" class="d-block w-100" alt="...">
          </div>

          <div class="carousel-item">
            <img src="https://i.ibb.co/vv322rg/CPPC-ROAM-6.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="https://i.ibb.co/6HW8xPn/CPPC-ROAM-2.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="https://i.ibb.co/5Yg68W2/CPPC-ROAM-3.jpg" class="d-block w-100" alt="...">
          </div>

          <div class="carousel-item">
            <img src="https://i.ibb.co/v1QJfck/CPPC-ROAM-1.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="https://i.ibb.co/dGjhW6j/CPPC-ROAM-14.jpg" class="d-block w-100" alt="...">
          </div>
          <%# <div class="carousel-item">
            <img src="https://i.ibb.co/4fJBYSP/CPPC-ROAM-13.jpg" class="d-block w-100" alt="...">
          </div> %>

          <div class="carousel-item">
            <img src="https://i.ibb.co/xJ0gZKb/CPPC-ROAM-12.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="https://i.ibb.co/ctLzHFb/CPPC-ROAM-10.jpg" class="d-block w-100" alt="...">
          </div>
          <%# <div class="carousel-item">
            <img src="https://i.ibb.co/H4dsFJx/CPPC-ROAM-11.jpg" class="d-block w-100" alt="...">
          </div> %>

          <div class="carousel-item">
            <img src="https://i.ibb.co/PF4qGP4/CPPC-ROAM-8.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="https://i.ibb.co/T0DWTxg/CPPC-ROAM-9.jpg" class="d-block w-100" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#valentine-carousel" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#valentine-carousel" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>


    </div>
  </div>
  <div class="more-news">
    <h6>More News...</h6>
    <div class="more-news-list">
      <div class="more-news-card">
        <a href="https://www.exploreroam.com/shop/for-gifting">
          <img src="https://i.ibb.co/9GVTwgd/Blog-entry-1.jpg" alt="...">
          <p>PACKAGING INNOVATIONS 2023</p>
        </a>
      </div>
      <div class="more-news-card">
        <a href="https://www.exploreroam.com/shop/for-gifting">
          <img src="https://i.ibb.co/WzHtbbb/Blog-entry-3.jpg" alt="...">
          <p>CPPC X KARIWALA</p>
        </a>
      </div>
      <div class="more-news-card">
        <a href="https://www.exploreroam.com/shop/for-gifting">
          <img src="https://i.ibb.co/prZ6DN7/Blog-entry-4.jpg" alt="...">
          <p>CHRISTMAS IS COMING</p>
        </a>
      </div>
    </div>
  </div>
</div>


<div class="mobile-valentine-container mobile-valentine">
  <div class="mobile-valentine-banner" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.0)), url(https://i.ibb.co/0CM5cbG/CPPC-ROAM-5.jpg);">
    <h1>Happy Valentine's Day</h1>
  </div>
  <div class="mobile-valentine-body">
    <div class="mobile-valentine-text">
      <div class="mobile-quotation-horizontal quotation-top">
        <img src="https://i.ibb.co/N3J6yH0/CPPC-QUOTATION-MARK-LEFT.png", class="about-photo">
      </div>
      <p>Happy Valentine’s Day Y’all. Our current crush is Roam and their cheeky Valentine’s range. The All Night Long Kit is a personal fave and there’s also The Couple’s Kit, The Cupid Kit and The Roamance Kit. Behind the quirky names the brand has a serious sentiment, and that is to challenge stigmas around sex providing a range that supports what feels natural; to enable exploration with comfort and confidence. We are proud of our role in helping realise these creative gift sets, which feature gold foiled sleeves in GF Colorplan. </p>
      <div class="mobile-quotation-horizontal quotation-bottom">
        <img src="https://i.ibb.co/F8K1fM1/CPPC-QUOTATION-MARK-RIGHT.png", class="about-photo">
      </div>
    </div>





    <div class="mobile-valentine-carousel">
      <div id="mobile-valentine-carousel" class="carousel slide">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="https://i.ibb.co/QCGNGdm/CPPC-ROAM-4.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="https://i.ibb.co/G7GXcJW/CPPC-ROAM-5.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="https://i.ibb.co/KFTvSGV/CPPC-ROAM-7.jpg" class="d-block w-100" alt="...">
          </div>

          <div class="carousel-item">
            <img src="https://i.ibb.co/vv322rg/CPPC-ROAM-6.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="https://i.ibb.co/6HW8xPn/CPPC-ROAM-2.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="https://i.ibb.co/5Yg68W2/CPPC-ROAM-3.jpg" class="d-block w-100" alt="...">
          </div>

          <div class="carousel-item">
            <img src="https://i.ibb.co/v1QJfck/CPPC-ROAM-1.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="https://i.ibb.co/dGjhW6j/CPPC-ROAM-14.jpg" class="d-block w-100" alt="...">
          </div>
          <%# <div class="carousel-item">
            <img src="https://i.ibb.co/4fJBYSP/CPPC-ROAM-13.jpg" class="d-block w-100" alt="...">
          </div> %>

          <div class="carousel-item">
            <img src="https://i.ibb.co/xJ0gZKb/CPPC-ROAM-12.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="https://i.ibb.co/ctLzHFb/CPPC-ROAM-10.jpg" class="d-block w-100" alt="...">
          </div>
          <%# <div class="carousel-item">
            <img src="https://i.ibb.co/H4dsFJx/CPPC-ROAM-11.jpg" class="d-block w-100" alt="...">
          </div> %>

          <div class="carousel-item">
            <img src="https://i.ibb.co/PF4qGP4/CPPC-ROAM-8.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="https://i.ibb.co/T0DWTxg/CPPC-ROAM-9.jpg" class="d-block w-100" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#mobile-valentine-carousel" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#mobile-valentine-carousel" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>

    <div class="mobile-valentine-text">
      <div class="mobile-quotation-horizontal quotation-top">
        <img src="https://i.ibb.co/N3J6yH0/CPPC-QUOTATION-MARK-LEFT.png", class="about-photo">
      </div>
      <p>Societal attitudes towards sex are changing, evidenced by the fact that mentions of “sexual wellness” grew 600% on Twitter between 2018 and 2021, and in 2021 the global sexual wellness market was valued at $80bn. One category report predicts it will rise to $120bn in 2030.</p>
      <p>Long Live Roamance and Long Live Roam. We are thrilled to be working with this disruptor brand with its mission to reduce stigmas around sex, and to be part of the project to challenge stereotypes around sexual wellness by crafting stylish gift sets you’d be proud to be seen buying and giving.</p>
      <a href="https://www.exploreroam.com/shop/for-gifting">Explore Roam</a>
      <div class="mobile-quotation-horizontal quotation-bottom">
        <img src="https://i.ibb.co/F8K1fM1/CPPC-QUOTATION-MARK-RIGHT.png", class="about-photo">
      </div>
    </div>

  </div>

  <div class="mobile-more-news">
    <h6>More News...</h6>
    <div class="mobile-more-news-list">
      <div class="mobile-more-news-card">
        <a href="https://www.exploreroam.com/shop/for-gifting">
          <img src="https://i.ibb.co/9GVTwgd/Blog-entry-1.jpg" alt="...">
          <p>PACKAGING INNOVATIONS 2023</p>
        </a>
      </div>
      <div class="mobile-more-news-card">
        <a href="https://www.exploreroam.com/shop/for-gifting">
          <img src="https://i.ibb.co/WzHtbbb/Blog-entry-3.jpg" alt="...">
          <p>CPPC X KARIWALA</p>
        </a>
      </div>
      <div class="mobile-more-news-card">
        <a href="https://www.exploreroam.com/shop/for-gifting">
          <img src="https://i.ibb.co/prZ6DN7/Blog-entry-4.jpg" alt="...">
          <p>CHRISTMAS IS COMING</p>
        </a>
      </div>
    </div>
  </div>
</div>
