<div class="case-container mandatory-scroll-snapping">
  <div class="desktop-case-page scroll-page">
    <div class="case-banner" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0)), url(https://i.ibb.co/TPNVFB7/CPPC-NAMSU-2.jpg);">
      <h1>NAMSU</h1>
    </div>
    <div class="case-text-container">
      <div class="case-text">
        <%# <div class="quotation quotation-left"> %>
          <img src="https://i.ibb.co/N3J6yH0/CPPC-QUOTATION-MARK-LEFT.png", class="about-photo quote-img quote-left">
        <%# </div> %>
        <p>Namsû is a lifestyle brand dedicated to indulgent bathing experiences. They believe there is joy to be found in taking time for ourselves whilst considering the impact on our environment and with that in mind <b>CPPC</b> was tasked with supplying refillable and sustainable packaging solutions that would both innovate and deliver a memorable gift experience.</p>
        <%# <div class="quotation quotation-right"> %>
          <img src="https://i.ibb.co/F8K1fM1/CPPC-QUOTATION-MARK-RIGHT.png", class="about-photo quote-img quote-right">
        <%# </div> %>
      </div>
    </div>
    <img src="https://i.ibb.co/4sFxK6Z/CPPC-ARROW-2.png", class="case-arrow-down">
  </div>

  <div class="mobile-case-page">
    <div class="mobile-case-banner" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0)), url(https://i.ibb.co/TPNVFB7/CPPC-NAMSU-2.jpg);">
      <h1>NAMSU</h1>
    </div>
    <div class="mobile-case-text">
      <%# <div class="mobile-quotation-horizontal quotation-top"> %>
        <img src="https://i.ibb.co/N3J6yH0/CPPC-QUOTATION-MARK-LEFT.png", class="about-photo mobile-quote-img mobile-quote-left">
      <%# </div> %>
      <p>Namsû is a lifestyle brand dedicated to indulgent bathing experiences. They believe there is joy to be found in taking time for ourselves whilst considering the impact on our environment and with that in mind <b>CPPC</b> was tasked with supplying refillable and sustainable packaging solutions that would both innovate and deliver a memorable gift experience.</p>
      <%# <div class="mobile-quotation-horizontal quotation-bottom"> %>
        <img src="https://i.ibb.co/F8K1fM1/CPPC-QUOTATION-MARK-RIGHT.png", class="about-photo mobile-quote-img mobile-quote-right">
      <%# </div> %>
    </div>
  </div>

  <div class="desktop-case-page scroll-page">
    <div class="case-halves">
      <div class="case-half-banner" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0)), url(https://i.ibb.co/wgWqy0z/CPPC-NAMSU-6.jpg);">
        <h1>NAMSU</h1>
      </div>
      <div class="case-half-white">

        <div class="case-quote">
          <%# <p>“As a lean product development business, working with Alex and CPPC has been one of the best decisions we could have taken. His experience with everything from eco materials down to the detail of manufacturing processes has opened us to new product possibilities and elevated our existing brands far beyond what we thought was possible or affordable.”</p> %>
        </div>


        <div class="carousel-outer">
          <div id="carouselExampleAutoplaying" class="carousel slide carousel-fade" data-bs-ride="carousel">
            <div class="carousel-inner case-carousel-inner position-absolute top-50 start-50 translate-middle">
              <div class="carousel-item active">
                <div class="cards-wrapper">
                  <div class="case-carousel-photo">
                      <img src="https://i.ibb.co/bvLKDQ2/CPPC-NAMSU-1.jpg" class="d-block w-100" alt="AKT">
                  </div>

                  <div class="case-carousel-photo">
                    <img src="https://i.ibb.co/TPNVFB7/CPPC-NAMSU-2.jpg" class="d-block w-100" alt="AKT">
                  </div>

                  <div class="case-carousel-photo">
                      <img src="https://i.ibb.co/2c9hNbk/CPPC-NAMSU-3.jpg" class="d-block w-100" alt="AKT">
                  </div>

                </div>
              </div>
              <div class="carousel-item">
                <div class="cards-wrapper">
                  <div class="case-carousel-photo">
                      <img src="https://i.ibb.co/d5MnxwP/CPPC-NAMSU-4.jpg" class="d-block w-100" alt="AKT">
                  </div>

                  <div class="case-carousel-photo">
                    <img src="https://i.ibb.co/fGjnDWV/CPPC-NAMSU-5.jpg" class="d-block w-100" alt="AKT">
                  </div>

                  <div class="case-carousel-photo">
                    <img src="https://i.ibb.co/wgWqy0z/CPPC-NAMSU-6.jpg" class="d-block w-100" alt="AKT">
                  </div>
                </div>
              </div>



            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>

        <div class="case-quote">
          <%# <p>“As a lean product development business, working with Alex and CPPC has been one of the best decisions we could have taken. His experience with everything from eco materials down to the detail of manufacturing processes has opened us to new product possibilities and elevated our existing brands far beyond what we thought was possible or affordable.”</p> %>
        </div>

      </div>
    </div>



  </div>

  <div class="mobile-case-page space-around">
    <div id="carouselExampleFade" class="carousel slide carousel-fade mobile-case-carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="https://i.ibb.co/bvLKDQ2/CPPC-NAMSU-1.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="https://i.ibb.co/TPNVFB7/CPPC-NAMSU-2.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="https://i.ibb.co/2c9hNbk/CPPC-NAMSU-3.jpg" class="d-block w-100" alt="...">
        </div>

        <div class="carousel-item">
          <img src="https://i.ibb.co/d5MnxwP/CPPC-NAMSU-4.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="https://i.ibb.co/fGjnDWV/CPPC-NAMSU-5.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="https://i.ibb.co/wgWqy0z/CPPC-NAMSU-6.jpg" class="d-block w-100" alt="...">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>

    <div class="mobile-bottom-quote">
      <%# <p>“As a lean product development business, working with Alex and CPPC has been one of the best decisions we could have taken. His experience with everything from eco materials down to the detail of manufacturing processes has opened us to new product possibilities and elevated our existing brands far beyond what we thought was possible or affordable.”</p> %>
    </div>
  </div>

</div>
