// .dots-icon {
//   padding: 28px 20px;
//   position: relative;
//   float: right;
//   cursor: pointer;
//   margin: 0;
// }

// .user-icon {
//   // background-image: linear-gradient(to right, #795d33 0, #cb9b51 22%, #f6e27a 45%, #f6f2c0 50%, #f6e27a 55%, #cb9b51 78%, #795d33 100%);
//   background-color: transparent;
//   display: block;
//   height: 6px;
//   width: 40px;
//   position: relative;
//   transition: background .4s ease-out;
//   border-radius: 3px;
// }

// .user-icon::before {
//   background-color: red;
//   content: "";
//   display: block;
//   height: 100%;
//   width: 100%;
//   position: absolute;
//   transition: all .4s ease-out;
//   top: 10px;
//   border-radius: 2px;
// }

// .user-icon::after {
//   background-color: blue;
//   content: "";
//   display: block;
//   height: 100%;
//   width: 100%;
//   position: absolute;
//   transition: all .4s ease-out;
//   top: -10px;
//   border-radius: 2px;
// }

// .user-btn {
//   display: none;
// }

// // .user-btn:checked~.tabs {
// //   max-height: 100vh;
// // }

// // .user-btn:checked~.navbar-outer {
// //   padding-bottom: 34px;
// // }

// .user-btn:checked~.dots-icon .user-icon {
//   background: transparent;
// }

// .user-btn:checked~.dots-icon .user-icon::before {
//   transform: rotate(-225deg);
//   top: 0;
// }

// .user-btn:checked~.dots-icon .user-icon::after {
//   transform: rotate(225deg);
//   top: 0;
// }

// .user-dropdown {
//   margin: 0;
//   max-height: 0;
//   transition: max-height .2s ease-in-out;
//   width: 100%;
//   justify-content: space-evenly;
//   padding: 0px;
//   // overflow: hidden;
// }

// .dropdown-link {
//   transition: 0.5s;
//   font-family: "Montserrat, sans-serif";
//   font-size: 16px;
//   letter-spacing: 4px;
//   display: block;
//   text-align: center;
//   margin: 5px;

//   a,
//   h5 {
//     text-decoration: none;
//     color: grey;
//     transition: 0.5s;
//     font-family: "Montserrat";
//     // text-shadow: 0px 0px 10px $button--color-1;
//   }

//   a:hover {
//     text-decoration: none;
//     color: white;
//     text-shadow: 0px 0px 5px white;
//   }
// }




// // // //



// .navbar-outer {
//   width: 100%;
//   display: flex;
//   justify-content: flex-end;
//   background: transparent;
//   position: fixed;
//   // height: 50px;
// }

// .navbar-inner {
//   display: flex;
//   flex-direction: column;
//   // margin-top: 16px;
//   width: 100%;
// }


// .name-title {
//   display: flex;
//   justify-content: center;
//   margin-bottom: 8px;
//   letter-spacing: 24px;

//   h2 {
//     font-size: 40px;
//     // font-family: 'Poiret One', cursive;
//     color: white;
//     // text-shadow: 0px 0px 10px $button--color-1;
//   }
// }

// // @media only screen and (max-width: $phone) {
// //   .name-title {
// //     text-align: center;

// //     h2 {
// //       font-size: 20px;

// //     }
// //   }
// // }

// .navbar-brand {
//   display: none;
// }

// .navbarr {
//   width: 100%;
//   // height: 100vh;
//   display: flex;
//   justify-content: flex-end;
//   padding: 0;
//   background-color: transparent;
//   position: sticky;
//   top: 0px;
//   z-index: 10;
//   margin-bottom: 0px;
// }

// .tabs {
//   margin: 0;
//   max-height: 0;
//   transition: max-height .2s ease-in-out;
//   width: 100vw;
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   justify-content: center;
//   padding: 0px;
//   // margin-bottom: 10px;
//   background-size: cover;
//     background-position: top center;
// }

// // .tabsnbtn {

// //   display: flex;
// //   flex-direction: column;
// //   align-items: flex-end;
// //   // justify-content: space-evenly;
// //   padding: 0px;
// //   // margin-bottom: 10px;
// //   background-size: cover;
// //   background-position: top center;
// // }

// ul {
//   overflow: hidden;
// }

// .nav-link {
//   transition: 0.5s;
//   font-family: "Montserrat, sans-serif";
//   font-size: 32px;
//   font-weight: bold;
//   letter-spacing: 4px;
//   display: block;
//   text-align: center;
//   margin: 20px 5px;

//   a,
//   h5 {
//     text-decoration: none;
//     color: white;
//     transition: 0.5s;
//     font-family: "Montserrat";
//     // text-shadow: 0px 0px 10px $button--color-1;
//   }

//   a:hover {
//     text-decoration: none;
//     color: $coral;
//   }
// }

// .nav-link-btn {
//   transition: 0.5s;
//   font-family: "Montserrat, sans-serif";
//   font-size: 16px;
//   letter-spacing: 4px;
//   display: block;
//   text-align: center;
//   margin: 20px 5px;

//   a,
//   h5 {
//     text-decoration: none;
//     color: orange;
//     transition: 0.5s;
//     font-family: "Montserrat";
//     // text-shadow: 0px 0px 10px $button--color-1;
//   }

//   a:hover {
//     text-decoration: none;
//     color: black;
//     text-shadow: 0px 0px 5px white;
//   }
// }

// .menu-icon {
//   padding: 28px 20px;
//   position: relative;
//   float: right;
//   cursor: pointer;
//   margin: 0;
// }

// .nav-icon {
//   // background-image: linear-gradient(to right, #795d33 0, #cb9b51 22%, #f6e27a 45%, #f6f2c0 50%, #f6e27a 55%, #cb9b51 78%, #795d33 100%);
//   // background-color: turquoise;
//   // display: block;
//   // height: 6px;
//   // width: 40px;
//   background-size: cover;
//     // background-repeat: no-repeat;
//     background-position: center;
//   position: relative;
//   height: 80px;
//   width: 80px;
//   transition: all .5s ease-out;
//   // transition: background .4s ease-out;
//   // border-radius: 3px;
//   background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url(https://i.ibb.co/8mKWcCj/CPPC-MENU-ICON-HOMEPAGE-copy.png);
// }

// // .nav-icon::before {
// //   background-color: purple;
// //   content: "";
// //   display: block;
// //   height: 100%;
// //   width: 100%;
// //   position: absolute;
// //   transition: all .4s ease-out;
// //   top: 10px;
// //   border-radius: 2px;
// // }

// // .nav-icon::after {
// //   background-color: pink;
// //   content: "";
// //   display: block;
// //   height: 100%;
// //   width: 100%;
// //   position: absolute;
// //   transition: all .4s ease-out;
// //   top: -10px;
// //   border-radius: 2px;
// // }

// .menu-btn {
//   display: none;
// }

// .menu-btn:checked~.tabs {
//   max-height: 100vh;
// }

// .menu-btn:checked~.tabsnbtn {
//   // background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3)), url(https://i.ibb.co/qyFsg3c/CPPC-AKT-2.jpg);
//   background-color: beige;
// }

// // .menu-btn:checked~.navbar-outer {
// //   padding-bottom: 34px;
// // }

// .menu-btn:checked~.menu-icon .nav-icon {
//   background: transparent;
//   transform: rotate(315deg);
//   background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url(https://i.ibb.co/3CKNQ8p/CPPC-MENU-ICON-MENU-PAGE-copy.png);
//   background-size: cover;
//   background-position: center;
//   position: relative;
//   height: 80px;
//   width: 80px;
// }

// .menu-btn:checked~.menu-icon .nav-icon::before {
//   top: 0;
// }

// .menu-btn:checked~.menu-icon .nav-icon::after {
//   transform: rotate(225deg);
//   top: 0;
// }

// // @media screen and (min-width: $laptop) {
// //   ul {
// //     overflow: visible;
// //   }

// //   .navbar-outer {
// //     display: flex;
// //     justify-content: center;
// //     background: grey;

// //   }

// //   .nav-link {
// //     display: inline;
// //     display: flex;
// //     text-align: center;
// //     padding-left: 16px;
// //     padding-right: 16px;
// //     padding-bottom: 4px;
// //   }

// //   .nav-link-btn {
// //     display: inline;
// //     display: flex;
// //     text-align: center;
// //     padding-left: 16px;
// //     padding-right: 16px;
// //     padding-bottom: 4px;
// //   }

// //   .tabs {
// //     list-style: none;
// //     display: flex;
// //     align-items: center;
// //     text-align: center;
// //     max-height: none;
// //     flex-direction: row;
// //     justify-content: space-between;
// //     margin-bottom: 0px;
// //     margin-left: 48px;
// //   }

// //   .menu-icon {
// //     display: none;
// //   }

// //   .navbarr {
// //     height: 80px;
// //     justify-content: center;
// //     padding: 0px;

// //   }

// //   .navbar-brand {
// //     display: block;
// //   }
// // }



// .navbar-logo {
//   height: 60px;
//   transition: 0.5s;
// }

// .navbar-logo:hover {
//   transform: scale(1.05);
// }



// NEW NAV
.nav-container {
  width: 100%;
  display: flex;
  position: fixed;
  justify-content: flex-end;
  z-index: 10;
}

.nav-icon {
  // position: fixed;
  border: none;
  background-size: cover;
    // background-repeat: no-repeat;
    background-position: center;
    height: 80px;
    width: 80px;
    transition: all .5s ease-out;
    // transition: background .4s ease-out;
    // border-radius: 3px;
    // background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url(https://i.ibb.co/8mKWcCj/CPPC-MENU-ICON-HOMEPAGE-copy.png);

}

.nav-btn {
  border: none;
  padding: 0px;
  position: relative;
  right: 0px;
  left: 0px;
  background-color: transparent;
}

.nav-close-btn {
  border: none;
  padding: 0px;
  position: relative;
  right: 0px;
  left: 0px;
  // top: 40px;
  height: 80px;
  width: 80px;
  transform: rotate(315deg);
  background-color: transparent;
}

.modal-dialog {
  margin: 0px 0px !important;
  width: 100vw !important;
  height: 100vh;
}

.modal-content {
  width: 100vw !important;
  height: 100vh !important;
  background-size: cover;
  // background-repeat: no-repeat;
  background-position: center;
}

.modal-header {
  border: none !important;
  display: flex;
  justify-content: flex-end !important;
}

.modal-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  a {
    font-family: 'Futura';
    color: white;
    font-size: 60px;
    font-weight: bold;
    text-decoration: none;
  }
  a:hover {
    color: $coral;
  }
}
