


// NEW NAV
.nav-container {
  width: 100%;
  display: flex;
  position: fixed;
  justify-content: flex-end;
  z-index: 10;
}

.nav-icon {
  // position: fixed;
  border: none;
  background-size: cover;
    // background-repeat: no-repeat;
    background-position: center;
    height: 40px;
    width: 40px;
    transition: all .5s ease-out;
    // transition: background .4s ease-out;
    // border-radius: 3px;
    // background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url(https://i.ibb.co/8mKWcCj/CPPC-MENU-ICON-HOMEPAGE-copy.png);

}

.nav-btn {
  border: none;
  padding: 0px;
  position: relative;
  right: 0px;
  left: 0px;
  background-color: transparent;
  height: 120px;
  width: 120px;
  animation: configure-xclockwise 10s ease-in-out 0s infinite;
}

.nav-icon:hover {

    transform: scale(1.15);

}

.nav-close-btn {
  border: none;
  padding: 0px;
  position: relative;
  right: 0px;
  left: 0px;
  // top: 40px;
  height: 80px;
  width: 80px;
  transform: rotate(315deg);
  background-color: transparent;
}

.btn-close-id {
  background: transparent;
  border: none;
  font-family: 'Futura',
      'Questrial',
      sans-serif;
  color: white;
  font-size: 60px;
  font-weight: bold;
  text-decoration: none;
}

.btn-close-id:hover {
  color: $coral;
}

.nav-modal-dialog {
  margin: 0px 0px !important;
  width: 100vw !important;
  height: 100vh;
}

.nav-modal-content {
  width: 100vw !important;
  height: 100vh !important;
  background-size: cover;
  // background-repeat: no-repeat;
  background-position: center;
}

.modal-header {
  border: none !important;
  display: flex;
  justify-content: flex-end !important;
}

.modal-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  a {
    font-family: 'Futura',
      'Questrial',
      sans-serif;
    color: white;
    font-size: 60px;
    font-weight: bold;
    text-decoration: none;
  }
  a:hover {
    color: $coral;
  }
}



@keyframes configure-xclockwise {
  0% {
    transform: rotate(0);
  }

  78% {
    transform: rotate(0deg);
  }

  80% {
    transform: rotate(-15deg);
  }

  82% {
    transform: rotate(15deg);
  }

  84% {
    transform: rotate(-15deg);
  }

  86% {
    transform: rotate(15deg);
  }

  88% {
    transform: rotate(-10deg);
  }

  90% {
    transform: rotate(10deg);
  }

  92% {
    transform: rotate(-5deg);
  }

  94% {
    transform: rotate(5deg);
  }

  96% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(0deg);
  }
}


@media screen and (max-width: $tablet) {
  .modal-body {
    a {
      font-size: 40px;
    }
    button {
      font-size: 40px;
    }
  }
}
